.header {
  display: none !important;
  box-sizing: border-box;
  background-image: url(../image/header-bg-image.png);
  height: 100vh;
  background-size: cover;
  background-position: center;

  display: flex;
  flex-direction: column;
  justify-content: space-between;


  // .header__bottom

  &__bottom {
    padding-bottom: 40px;
    @include constentPaddingInline;
  }

  // .header__title

  &__title {
    margin: 0;
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;

    @include onTablet {
      font-size: 48px;
    }
  }
}
