.icon {
  display: block;
  width: 24px;
  height: 24px;

  @include onTablet {
    width: 32px;
    height: 32px;
  }

  &--phone {
    background-image: url(../icon/phone-number.png);
  }
  &--burger {
    background-image: url(../icon/burger-menu.png);
  }
  &--close {
    background-image: url(../icon/icon-close.png);
  }

}

